.message-show {
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    background-color: var(--webkit-scrollbar-bg);
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--webkit-scrollbar-thumb-bg);
    border-radius: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--webkit-scrollbar-track-bg);
  }
  .my-message {
    float: right;
    .my-text {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 370px;

      .message-text {
        text-align: end;
        padding: 10px;
      }
    }
    .time {
      text-align: end;
      padding: 5px 0px;
      color: rgb(98, 173, 64);
    }
  }

  .fd-message {
    float: left;

    .fd-text {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      width: 370px;

      .message-text {
        text-align: start;
        border-radius: 15px;
        background-color: var(--fd-message-bg);
        color: var(--fd-message-color);
      }
    }
  }

  .image-message-time,
  .image-message {
    display: flex;

    .frd-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
    }

    .message-text {
      padding: 10px;
      color: var(--text-color);
      background-color: var(--my-message-bg);
      font-size: 14px;
      font-weight: 400;
      border-radius: 15px;
      color: var(--my-message-color);

      img {
        width: 220px;
        height: 200px;
        padding: 0;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }
  .time {
    padding: 5px 0px;
    color: rgb(98, 173, 64);
    font-size: 12px;
  }

  .typing-message {
    color: white;
    bottom: 63px;
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    left: 34%;
    right: 34%;

    p {
      background-color: #343434;
      padding: 5px 10px;
      border-radius: 10px;
    }
  }

  .friend_connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--text-color);
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    h3 {
      margin-top: 10px;
    }
  }
}
